# Dependencies
node_modules/

# Builds
build/
dist/
out/
syncnest-windows-latest-build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
*.crdownload
Thumbs.db

# Databases & Data Files
*.sqlite
*.sqlite3
*.db
*.db3
data.json

# Tooling
.vscode/

# Ignore specific root test output
out.txt
test-sql.js
test-script.js
